<a href="https://colab.research.google.com/github/Andres3417/PROGCOM-A-2026/blob/main/ESTRUCTURAS_DE_REPETICI%C3%93N.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##ESTRUCTURAS DE REPETICIÓN

1.PARA-FOR
2.MIENTRAS-WHILE

###1. Para - for

* se emplea cuando se sabe cuántas veces se repetirá la acción.
* siempre inicia desde 0

Sintaxis general

```
for (variable) in (algo):
  la acción que se va a repetir.

for variable in range(VI, VF+1, P)
  la acción se va a repetir.
```
Donde:
* VI: Valor inicial (dónde inicio).
* VF: Valor final (donde finalizo)
* P: Paso. Cada cuánto cuento.

In [2]:
for num in range(11):
 if num%2==0: print(num)

0
2
4
6
8

In [5]:
for num in range(0, 11):
 if num%2==0: print(num)

0
2
4
6
8
10

In [4]:
for num in range(0, 11, 2):
  print(num)

0
2
4
6
8
10

#TABLAS DE MULTIPLICAR

In [19]:
for i in range (1, 11, 1):
  print("1 x", i, "=", 1 * i)
  print("2 x", i, "=", 2 * i)
  print("3 x", i, "=", 3 * i)
  print("4 x", i, "=", 4 * i)
  print("5 x", i, "=", 5 * i)
  print("6 x", i, "=", 6 * i)
  print("7 x", i, "=", 7 * i)
  print("8 x", i, "=", 8 * i)
  print("9 x", i, "=", 9 * i)
  print("10 x", i, "=", 10 * i)

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60
1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70
1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [43]:
i = 0
r = 0
for i in range (1, 11, 1):
  r = r + 1
  i = 1*i
  print("1 x", r, "=", i)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10